.wrapper {
    width: 736px;
    margin: calc(0px - 1.5rem - 6px) auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;

}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}

.taskContent {
    width: 736px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 4rem;

}

.formTask {
    width: 100%;
    display: flex;
    justify-content: center;

    gap: 0.5rem;

}

.formTask input {
    width: 100%;
    background: var(--gray-500);
    font-size: 1rem;
    border: 0;
    color: var(--gray-100);
    height: 3.5rem;
    padding: 1rem;
    border-radius: 8px;
    line-height: 1.4;

}

.formTask button {
    width: 5.625rem;
    height: 3.5rem;
    font-size: 0.875rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 8px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.tasksCreated {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tasksCreated strong {
    color: var(--blue);
    font-size: 0.875rem;

}

.tasksCreated span {
    background-color: var(--gray-400);
    color: var(--gray-200);
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 0.75rem;
    font-weight: bold;

}

.tasksCompleted {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tasksCompleted strong {
    color: var(--purple);
    font-size: 0.875rem;

}

.tasksCompleted span {
    background-color: var(--gray-400);
    color: var(--gray-200);
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 0.75rem;
    font-weight: bold;

}

.taskItens {
    flex: 1;
    justify-content: center;
    align-items: center;

}