.taskList {
    background: var(--gray-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    border-radius: 8px;
    padding: 1rem;
    gap: 0.75rem;

}

.checkTask {
    width: 24px;
    height: 24px;
    background: transparent;
    color: var(--blue);
    border: 0;
}

.checkTask svg {
    fill: none;
}

.checkTask svg circle:last-of-type {
    stroke: var(--blue);
}

.checkedTask {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    border: 0;
    background: transparent;
}

.checkedTask svg {
    fill: var(--purple);
}

.checkedTask svg circle:first-of-type {
    opacity: 1;
}

.checkedTask svg polyline:first-of-type {
    stroke: var(--gray-100);
}

.checkedTask svg circle:last-of-type {
    stroke: var(--purple);
}

.taskList p {
    font-size: 0.875rem;
    color: var(--gray-100);
    line-height: 1.18rem;
    margin-right: auto;
    word-break: break-all;
}

p.taskCompleted {
    color: var(--gray-300);
    text-decoration: line-through;
}

.deleteTask {
    width: 24px;
    height: 24px;
    background: transparent;
    color: var(--gray-300);
    border: 0;
    transition-duration: 0.4s;
}

.deleteTask:hover {
    color: var(--danger);
}